<!-- Page Wrapper -->
<div id="wrap" class="layout-1">

    <!-- Top bar -->
    <div class="top-bar">
        <div class="container">
            <p>Welcome to SmartTech center!</p>
            <div class="right-sec">
                <ul>
                    <li><a routerLink="/dang-nhap-dang-ky">Login/Register </a></li>
                    <li><a href="#.">Store Location </a></li>
                    <li><a href="#.">FAQ </a></li>
                    <li><a href="#.">Newsletter </a></li>
                    <li>
                        <select class="selectpicker">
                            <option>French</option>
                            <option>German</option>
                            <option>Italian</option>
                            <option>Japanese</option>
                        </select>
                    </li>
                    <li>
                        <select class="selectpicker">
                            <option>(USD)Dollar</option>
                            <option>GBP</option>
                            <option>Euro</option>
                            <option>JPY</option>
                        </select>
                    </li>
                </ul>
                <div class="social-top"> <a href="#."><i class="fa fa-facebook"></i></a> <a href="#."><i
                            class="fa fa-twitter"></i></a> <a href="#."><i class="fa fa-linkedin"></i></a> <a href="#."><i class="fa fa-dribbble"></i></a> <a href="#."><i class="fa fa-pinterest"></i></a>
                </div>
            </div>
        </div>
    </div>

    <!-- Header -->
    <header>
        <div class="container">
            <div class="logo">
                <a routerLink="/trang-chu"><img src="assets/images/logo.png" alt=""></a>
            </div>
            <div class="search-cate">
                <select class="selectpicker">
                    <option> All Categories</option>
                    <option> Home Audio & Theater</option>
                    <option> TV & Video</option>
                    <option> Camera, Photo & Video</option>
                    <option> Cell Phones & Accessories</option>
                    <option> Headphones</option>
                    <option> Video Games</option>
                    <option> Bluetooth & Wireless </option>
                    <option> Gaming Console</option>
                    <option> Computers & Tablets</option>
                    <option> Monitors </option>
                </select>
                <input type="search" placeholder="Search entire store here...">
                <button class="submit" type="submit"><i class="icon-magnifier"></i></button>
            </div>

            <!-- Cart Part -->
            <ul class="nav navbar-right cart-pop">
                <li class="dropdown"> <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="itm-cont">3</span> <i
                            class="flaticon-shopping-bag"></i> <strong>My Cart</strong> <br>
                        <span>3 item(s) - $500.00</span></a>
                    <ul class="dropdown-menu">
                        <li>
                            <div class="media-left">
                                <a href="#." class="thumb"> <img src="assets/images/item-img-1-1.jpeg" class="img-responsive" alt=""> </a>
                            </div>
                            <div class="media-body"> <a href="#." class="tittle">Funda Para Ebook 7" 128GB full HD</a>
                                <span>250 x 1</span> </div>
                        </li>
                        <li>
                            <div class="media-left">
                                <a href="#." class="thumb"> <img src="assets/images/item-img-1-2.jpeg" class="img-responsive" alt=""> </a>
                            </div>
                            <div class="media-body"> <a href="#." class="tittle">Funda Para Ebook 7" full HD</a>
                                <span>250 x 1</span> </div>
                        </li>
                        <li class="btn-cart"> <a routerLink="/gio-hang" class="btn-round">View Cart</a> </li>
                    </ul>
                </li>
            </ul>
        </div>

        <!-- Nav -->
        <nav class="navbar ownmenu">
            <div class="container">

                <!-- Categories -->
                <div class="cate-lst"> <a data-toggle="collapse" class="cate-style" href="#cater"><i
                            class="fa fa-list-ul"></i> Our Categories </a>
                    <div class="cate-bar-in">
                        <div id="cater" class="collapse">
                            <ul>
                                <li><a routerLink="/danh-sach"> Home Audio & Theater</a></li>
                                <li><a href="#."> TV & Video</a></li>
                                <li><a href="#."> Camera, Photo & Video</a></li>
                                <li class="sub-menu"><a href="#."> Cell Phones & Accessories</a>
                                    <ul>
                                        <li><a href="#."> TV & Video</a></li>
                                        <li><a href="#."> Camera, Photo & Video</a></li>
                                        <li><a href="#."> Cell Phones & Accessories</a>
                                        </li>
                                    </ul>

                                    <li><a href="#."> Headphones</a></li>
                                    <li><a href="#."> Video Games</a></li>
                                    <li class="sub-menu"><a href="#."> Bluetooth & Wireless Speakers</a>
                                        <ul>
                                            <li><a href="#."> TV & Video</a></li>
                                            <li><a href="#."> Camera, Photo & Video</a></li>
                                            <li><a href="#."> Cell Phones & Accessories</a>
                                            </li>
                                        </ul>

                                        <li class="sub-menu"><a href="#."> Gaming Console</a>
                                            <ul>
                                                <li><a href="#."> TV & Video</a></li>
                                                <li><a href="#."> Camera, Photo & Video</a></li>
                                                <li><a href="#."> Cell Phones & Accessories</a>
                                                </li>
                                            </ul>

                                            <li><a href="#."> Computers & Tablets</a></li>
                                            <li><a href="#."> Monitors</a></li>
                                            <li><a href="#."> Home Appliances</a></li>
                                            <li><a href="#."> Office Supplies</a></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <!-- Navbar Header -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nav-open-btn" aria-expanded="false"> <span><i class="fa fa-navicon"></i></span>
                    </button>
                </div>
                <!-- NAV -->
                <div class="collapse navbar-collapse" id="nav-open-btn">
                    <ul class="nav">
                        <li class="dropdown megamenu active"> <a a="/">Home </a>
                        </li>
                        <li class="dropdown"> <a href="index-1" class="dropdown-toggle" data-toggle="dropdown">Pages </a>
                            <ul class="dropdown-menu multi-level animated-2s fadeInUpHalf">
                                <li><a href="About"> About </a></li>
                                <li><a href="LoginForm"> Login Form </a></li>
                                <li><a href="GridProducts_3Columns"> Products 3 Columns </a></li>
                                <li><a href="GridProducts_4Columns"> Products 4 Columns </a></li>
                                <li><a href="ListProducts"> List Products </a></li>
                                <li><a href="Product-Details"> Product Details </a></li>
                                <li><a href="ShoppingCart"> Shopping Cart</a></li>
                                <li><a href="PaymentMethods"> Payment Methods </a></li>
                                <li><a href="DeliveryMethods"> Delivery Methods</a></li>
                                <li><a href="Confirmation"> Confirmation </a></li>
                                <li><a href="CheckoutSuccessful"> Checkout Successful </a></li>
                                <li><a href="Error404"> Error404 </a></li>
                                <li><a href="contact"> Contact </a></li>
                                <li class="dropdown-submenu"><a href="#."> Dropdown Level </a>
                                    <ul class="dropdown-menu animated-2s fadeInRight">
                                        <li><a href="#.">Level 1</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <!-- Mega Menu Nav -->
                        <li class="dropdown megamenu"> <a href="index-1" class="dropdown-toggle" data-toggle="dropdown">Mega menu </a>
                            <div class="dropdown-menu animated-2s fadeInUpHalf">
                                <div class="mega-inside">
                                    <div class="top-lins">
                                        <ul>
                                            <li><a href="#."> Cell Phones & Accessories </a></li>
                                            <li><a href="#."> Carrier Phones </a></li>
                                            <li><a href="#."> Unlocked Phones </a></li>
                                            <li><a href="#."> Prime Exclusive Phones </a></li>
                                            <li><a href="#."> Accessories </a></li>
                                            <li><a href="#."> Cases </a></li>
                                            <li><a href="#."> Best Sellers </a></li>
                                            <li><a href="#."> Deals </a></li>
                                            <li><a href="#."> All Electronics </a></li>
                                        </ul>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <h6>Electronics</h6>
                                            <ul>
                                                <li><a href="#."> Cell Phones & Accessories </a></li>
                                                <li><a href="#."> Carrier Phones </a></li>
                                                <li><a href="#."> Unlocked Phones </a></li>
                                                <li><a href="#."> Prime Exclusive Phones </a></li>
                                                <li><a href="#."> Accessories </a></li>
                                                <li><a href="#."> Cases </a></li>
                                                <li><a href="#."> Best Sellers </a></li>
                                                <li><a href="#."> Deals </a></li>
                                                <li><a href="#."> All Electronics </a></li>
                                            </ul>
                                        </div>
                                        <div class="col-sm-3">
                                            <h6>Computers</h6>
                                            <ul>
                                                <li><a href="#."> Computers & Tablets</a></li>
                                                <li><a href="#."> Monitors</a></li>
                                                <li><a href="#."> Laptops & tablets</a></li>
                                                <li><a href="#."> Networking</a></li>
                                                <li><a href="#."> Drives & Storage</a></li>
                                                <li><a href="#."> Computer Parts & Components</a></li>
                                                <li><a href="#."> Printers & Ink</a></li>
                                                <li><a href="#."> Office & School Supplies </a></li>
                                            </ul>
                                        </div>
                                        <div class="col-sm-2">
                                            <h6>Home Appliances</h6>
                                            <ul>
                                                <li><a href="#."> Refrigerators</a></li>
                                                <li><a href="#."> Wall Ovens</a></li>
                                                <li><a href="#."> Cooktops & Hoods</a></li>
                                                <li><a href="#."> Microwaves</a></li>
                                                <li><a href="#."> Dishwashers</a></li>
                                                <li><a href="#."> Washers</a></li>
                                            </ul>
                                        </div>
                                        <div class="col-sm-4"> <img class=" nav-img" src="assets/images/navi-img.png" alt="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="dropdown"> <a href="Blog" class="dropdown-toggle" data-toggle="dropdown">Blog</a>
                            <ul class="dropdown-menu multi-level animated-2s fadeInUpHalf">
                                <li><a href="Blog">Blog </a></li>
                                <li><a href="Blog_details">Blog Single </a></li>
                            </ul>
                        </li>
                        <li> <a href="shop">Buy theme! </a></li>
                    </ul>
                </div>

                <!-- NAV RIGHT -->
                <div class="nav-right"> <span class="call-mun"><i class="fa fa-phone"></i> <strong>Hotline:</strong>
                        (+100) 123 456 7890</span> </div>
            </div>
        </nav>
    </header>

    <router-outlet></router-outlet>
    <!-- Clients img -->
    <section class="light-gry-bg clients-img">
        <div class="container">
            <ul>
                <li><img src="assets/images/c-img-1.png" alt=""></li>
                <li><img src="assets/images/c-img-2.png" alt=""></li>
                <li><img src="assets/images/c-img-3.png" alt=""></li>
                <li><img src="assets/images/c-img-4.png" alt=""></li>
                <li><img src="assets/images/c-img-5.png" alt=""></li>
            </ul>
        </div>
    </section>
    <!-- Newslatter -->
    <section class="newslatter">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h3>Subscribe our Newsletter <span>Get <strong>25% Off</strong> first purchase!</span></h3>
                </div>
                <div class="col-md-6">
                    <form>
                        <input type="email" placeholder="Your email address here...">
                        <button type="submit">Subscribe!</button>
                    </form>
                </div>
            </div>
        </div>
    </section>

    <!-- Footer -->
    <footer>
        <div class="container">

            <!-- Footer Upside Links -->
            <div class="foot-link">
                <ul>
                    <li><a href="#."> About us </a></li>
                    <li><a href="#."> Customer Service </a></li>
                    <li><a href="#."> Privacy Policy </a></li>
                    <li><a href="#."> Site Map </a></li>
                    <li><a href="#."> Search Terms </a></li>
                    <li><a href="#."> Advanced Search </a></li>
                    <li><a href="#."> Orders and Returns </a></li>
                    <li><a href="#."> Contact Us</a></li>
                </ul>
            </div>
            <div class="row">

                <!-- Contact -->
                <div class="col-md-4">
                    <h4>Contact SmartTech!</h4>
                    <p>Address: 45 Grand Central Terminal New York, NY 1017 United State USA</p>
                    <p>Phone: (+100) 123 456 7890</p>
                    <p>Email: Support@smarttech.com</p>
                    <div class="social-links"> <a href="#."><i class="fa fa-facebook"></i></a> <a href="#."><i
                                class="fa fa-twitter"></i></a> <a href="#."><i class="fa fa-linkedin"></i></a> <a href="#."><i class="fa fa-pinterest"></i></a> <a href="#."><i
                                class="fa fa-instagram"></i></a> <a href="#."><i class="fa fa-google"></i></a> </div>
                </div>

                <!-- Categories -->
                <div class="col-md-3">
                    <h4>Categories</h4>
                    <ul class="links-footer">
                        <li><a href="#.">Home Audio & Theater</a></li>
                        <li><a href="#."> TV & Video</a></li>
                        <li><a href="#."> Camera, Photo & Video</a></li>
                        <li><a href="#."> Cell Phones & Accessories</a></li>
                        <li><a href="#."> Headphones</a></li>
                        <li><a href="#."> Video Games</a></li>
                        <li><a href="#."> Bluetooth & Wireless</a></li>
                    </ul>
                </div>

                <!-- Categories -->
                <div class="col-md-3">
                    <h4>Customer Services</h4>
                    <ul class="links-footer">
                        <li><a href="#.">Shipping & Returns</a></li>
                        <li><a href="#."> Secure Shopping</a></li>
                        <li><a href="#."> International Shipping</a></li>
                        <li><a href="#."> Affiliates</a></li>
                        <li><a href="#."> Contact </a></li>
                    </ul>
                </div>

                <!-- Categories -->
                <div class="col-md-2">
                    <h4>Information</h4>
                    <ul class="links-footer">
                        <li><a href="#.">Our Blog</a></li>
                        <li><a href="#."> About Our Shop</a></li>
                        <li><a href="#."> Secure Shopping</a></li>
                        <li><a href="#."> Delivery infomation</a></li>
                        <li><a href="#."> Store Locations</a></li>
                        <li><a href="#."> FAQs</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>

    <!-- Rights -->
    <div class="rights">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <p>Copyright © 2017 <a href="#." class="ri-li"> SmartTech </a>HTML5 template. All rights reserved
                    </p>
                </div>
                <div class="col-sm-6 text-right"> <img src="assets/images/card-icon.png" alt=""> </div>
            </div>
        </div>
    </div>
    <!-- End Footer -->

    <!-- GO TO TOP  -->
    <a href="#" class="cd-top"><i class="fa fa-angle-up"></i></a>
    <!-- GO TO TOP End -->
</div>
<!-- End Page Wrapper -->