<div class="col-md-9">

    <!-- Short List -->
    <div class="short-lst">
        <h2>Cell Phones & Accessories</h2>
        <ul>
            <!-- Short List -->
            <li>
                <p>Showing 1–12 of 756 results</p>
            </li>
            <!-- Short  -->
            <li>
                <select class="selectpicker">
                    <option>Show 12 </option>
                    <option>Show 24 </option>
                    <option>Show 32 </option>
                </select>
            </li>
            <!-- by Default -->
            <li>
                <select class="selectpicker">
                    <option>Sort by Default </option>
                    <option>Low to High </option>
                    <option>High to Low </option>
                </select>
            </li>

            <!-- Grid Layer -->
            <li class="grid-layer"> <a href="#."><i class="fa fa-list margin-right-10"></i></a> <a href="#." class="active"><i class="fa fa-th"></i></a> </li>
            <li>
                <!-- Columns -->
                <select class="selectpicker">
                    <option>4 Columns </option>
                    <option>3 Columns </option>
                    <option>5 Columns</option>
                </select>
            </li>
        </ul>
    </div>

    <!-- Items -->
    <div class="item-col-4">
        <!-- Product -->
        <div class="product">
            <article> <img class="img-responsive" src="assets/images/item-img-1-1.jpeg" alt="">
                <span class="sale-tag">-25%</span>

                <!-- Content -->
                <span class="tag">Tablets</span> <a href="#." class="tittle">Mp3 Sumergible Deportivo
                    Slim Con 8GB</a>
                <!-- Reviews -->
                <p class="rev"><i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i> <i class="fa fa-star"></i>
                    <span class="margin-left-10">5 Review(s)</span></p>
                <div class="price">$350.00 <span>$200.00</span></div>
                <a href="#." class="cart-btn"><i class="icon-basket-loaded"></i></a>
            </article>
        </div>

        <!-- Product -->
        <div class="product">
            <article> <img class="img-responsive" src="assets/images/item-img-1-2.jpeg" alt="">
                <!-- Content -->
                <span class="tag">Appliances</span> <a href="#." class="tittle">Reloj Inteligente Smart
                    Watch M26 </a>
                <!-- Reviews -->
                <p class="rev"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i> <i class="fa fa-star-o"></i>
                    <span class="margin-left-10">5 Review(s)</span></p>
                <div class="price">$350.00</div>
                <a href="#." class="cart-btn"><i class="icon-basket-loaded"></i></a>
            </article>
        </div>

        <!-- Product -->
        <div class="product">
            <article> <img class="img-responsive" src="assets/images/item-img-1-3.jpeg" alt=""> <span class="new-tag">New</span>

                <!-- Content -->
                <span class="tag">Accessories</span> <a href="#." class="tittle">Teclado Inalambrico
                    Bluetooth Con Air Mouse</a>
                <!-- Reviews -->
                <p class="rev"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i> <i class="fa fa-star-o"></i>
                    <span class="margin-left-10">5 Review(s)</span></p>
                <div class="price">$350.00</div>
                <a href="#." class="cart-btn"><i class="icon-basket-loaded"></i></a>
            </article>
        </div>

        <!-- Product -->
        <div class="product">
            <article> <img class="img-responsive" src="assets/images/item-img-1-4.jpeg" alt="">
                <!-- Content -->
                <span class="tag">Appliances</span> <a href="#." class="tittle">Funda Para Ebook 7"
                    128GB full HD</a>
                <!-- Reviews -->
                <p class="rev"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i> <i class="fa fa-star-o"></i>
                    <span class="margin-left-10">5 Review(s)</span></p>
                <div class="price">$350.00</div>
                <a href="#." class="cart-btn"><i class="icon-basket-loaded"></i></a>
            </article>
        </div>

        <!-- Product -->
        <div class="product">
            <article> <img class="img-responsive" src="assets/images/item-img-1-5.jpeg" alt="">
                <!-- Content -->
                <span class="tag">Appliances</span> <a href="#." class="tittle">Reloj Inteligente Smart
                    Watch M26 </a>
                <!-- Reviews -->
                <p class="rev"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i> <i class="fa fa-star-o"></i>
                    <span class="margin-left-10">5 Review(s)</span></p>
                <div class="price">$350.00</div>
                <a href="#." class="cart-btn"><i class="icon-basket-loaded"></i></a>
            </article>
        </div>

        <!-- Product -->
        <div class="product">
            <article> <img class="img-responsive" src="assets/images/item-img-1-6.jpeg" alt=""> <span class="new-tag">New</span>

                <!-- Content -->
                <span class="tag">Accessories</span> <a href="#." class="tittle">Teclado Inalambrico
                    Bluetooth Con Air Mouse</a>
                <!-- Reviews -->
                <p class="rev"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i> <i class="fa fa-star"></i>
                    <span class="margin-left-10">5 Review(s)</span></p>
                <div class="price">$350.00</div>
                <a href="#." class="cart-btn"><i class="icon-basket-loaded"></i></a>
            </article>
        </div>

        <!-- Product -->
        <div class="product">
            <article> <img class="img-responsive" src="assets/images/item-img-1-7.jpeg" alt="">
                <!-- Content -->
                <span class="tag">Appliances</span> <a href="#." class="tittle">Funda Para Ebook 7"
                    128GB full HD</a>
                <!-- Reviews -->
                <p class="rev"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i> <i class="fa fa-star"></i>
                    <span class="margin-left-10">5 Review(s)</span></p>
                <div class="price">$350.00</div>
                <a href="#." class="cart-btn"><i class="icon-basket-loaded"></i></a>
            </article>
        </div>

        <!-- Product -->
        <div class="product">
            <article> <img class="img-responsive" src="assets/images/item-img-1-8.jpeg" alt="">
                <!-- Content -->
                <span class="tag">Appliances</span> <a href="#." class="tittle">Reloj Inteligente Smart
                    Watch M26 </a>
                <!-- Reviews -->
                <p class="rev"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i> <i class="fa fa-star"></i>
                    <span class="margin-left-10">5 Review(s)</span></p>
                <div class="price">$350.00</div>
                <a href="#." class="cart-btn"><i class="icon-basket-loaded"></i></a>
            </article>
        </div>

        <!-- Product -->
        <div class="product">
            <article> <img class="img-responsive" src="assets/images/item-img-1-9.jpeg" alt="">
                <!-- Content -->
                <span class="tag">Appliances</span> <a href="#." class="tittle">Reloj Inteligente Smart
                    Watch M26 </a>
                <!-- Reviews -->
                <p class="rev"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i> <i class="fa fa-star-o"></i>
                    <span class="margin-left-10">5 Review(s)</span></p>
                <div class="price">$350.00</div>
                <a href="#." class="cart-btn"><i class="icon-basket-loaded"></i></a>
            </article>
        </div>

        <!-- Product -->
        <div class="product">
            <article> <img class="img-responsive" src="assets/images/item-img-1-10.jpeg" alt=""> <span class="new-tag">New</span>

                <!-- Content -->
                <span class="tag">Accessories</span> <a href="#." class="tittle">Teclado Inalambrico
                    Bluetooth Con Air Mouse</a>
                <!-- Reviews -->
                <p class="rev"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i> <i class="fa fa-star"></i>
                    <span class="margin-left-10">5 Review(s)</span></p>
                <div class="price">$350.00</div>
                <a href="#." class="cart-btn"><i class="icon-basket-loaded"></i></a>
            </article>
        </div>

        <!-- Product -->
        <div class="product">
            <article> <img class="img-responsive" src="assets/images/item-img-1-11.jpeg" alt="">
                <!-- Content -->
                <span class="tag">Appliances</span> <a href="#." class="tittle">Funda Para Ebook 7"
                    128GB full HD</a>
                <!-- Reviews -->
                <p class="rev"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i> <i class="fa fa-star"></i>
                    <span class="margin-left-10">5 Review(s)</span></p>
                <div class="price">$350.00</div>
                <a href="#." class="cart-btn"><i class="icon-basket-loaded"></i></a>
            </article>
        </div>

        <!-- Product -->
        <div class="product">
            <article> <img class="img-responsive" src="assets/images/item-img-1-12.jpeg" alt="">
                <!-- Content -->
                <span class="tag">Appliances</span> <a href="#." class="tittle">Reloj Inteligente Smart
                    Watch M26 </a>
                <!-- Reviews -->
                <p class="rev"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i> <i class="fa fa-star"></i>
                    <span class="margin-left-10">5 Review(s)</span></p>
                <div class="price">$350.00</div>
                <a href="#." class="cart-btn"><i class="icon-basket-loaded"></i></a>
            </article>
        </div>

        <!-- Product -->
        <div class="product">
            <article> <img class="img-responsive" src="assets/images/item-img-1-13.jpeg" alt="">
                <!-- Content -->
                <span class="tag">Appliances</span> <a href="#." class="tittle">Reloj Inteligente Smart
                    Watch M26 </a>
                <!-- Reviews -->
                <p class="rev"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i> <i class="fa fa-star-o"></i>
                    <span class="margin-left-10">5 Review(s)</span></p>
                <div class="price">$350.00</div>
                <a href="#." class="cart-btn"><i class="icon-basket-loaded"></i></a>
            </article>
        </div>

        <!-- Product -->
        <div class="product">
            <article> <img class="img-responsive" src="assets/images/item-img-1-14.jpeg" alt=""> <span class="new-tag">New</span>

                <!-- Content -->
                <span class="tag">Accessories</span> <a href="#." class="tittle">Teclado Inalambrico
                    Bluetooth Con Air Mouse</a>
                <!-- Reviews -->
                <p class="rev"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i> <i class="fa fa-star"></i>
                    <span class="margin-left-10">5 Review(s)</span></p>
                <div class="price">$350.00</div>
                <a href="#." class="cart-btn"><i class="icon-basket-loaded"></i></a>
            </article>
        </div>

        <!-- Product -->
        <div class="product">
            <article> <img class="img-responsive" src="assets/images/item-img-1-15.jpeg" alt="">
                <!-- Content -->
                <span class="tag">Appliances</span> <a href="#." class="tittle">Funda Para Ebook 7"
                    128GB full HD</a>
                <!-- Reviews -->
                <p class="rev"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i> <i class="fa fa-star"></i>
                    <span class="margin-left-10">5 Review(s)</span></p>
                <div class="price">$350.00</div>
                <a href="#." class="cart-btn"><i class="icon-basket-loaded"></i></a>
            </article>
        </div>

        <!-- Product -->
        <div class="product">
            <article> <img class="img-responsive" src="assets/images/item-img-1-16.jpeg" alt="">
                <!-- Content -->
                <span class="tag">Appliances</span> <a href="#." class="tittle">Reloj Inteligente Smart
                    Watch M26 </a>
                <!-- Reviews -->
                <p class="rev"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i> <i class="fa fa-star"></i>
                    <span class="margin-left-10">5 Review(s)</span></p>
                <div class="price">$350.00</div>
                <a href="#." class="cart-btn"><i class="icon-basket-loaded"></i></a>
            </article>
        </div>

        <!-- Product -->
        <div class="product">
            <article> <img class="img-responsive" src="assets/images/item-img-1-17.jpeg" alt=""> <span class="new-tag">New</span>

                <!-- Content -->
                <span class="tag">Accessories</span> <a href="#." class="tittle">Teclado Inalambrico
                    Bluetooth Con Air Mouse</a>
                <!-- Reviews -->
                <p class="rev"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i> <i class="fa fa-star"></i>
                    <span class="margin-left-10">5 Review(s)</span></p>
                <div class="price">$350.00</div>
                <a href="#." class="cart-btn"><i class="icon-basket-loaded"></i></a>
            </article>
        </div>

        <!-- Product -->
        <div class="product">
            <article> <img class="img-responsive" src="assets/images/item-img-1-18.jpeg" alt="">
                <!-- Content -->
                <span class="tag">Appliances</span> <a href="#." class="tittle">Funda Para Ebook 7"
                    128GB full HD</a>
                <!-- Reviews -->
                <p class="rev"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i> <i class="fa fa-star"></i>
                    <span class="margin-left-10">5 Review(s)</span></p>
                <div class="price">$350.00</div>
                <a href="#." class="cart-btn"><i class="icon-basket-loaded"></i></a>
            </article>
        </div>

        <!-- Product -->
        <div class="product">
            <article> <img class="img-responsive" src="assets/images/item-img-1-1.jpeg" alt="">
                <!-- Content -->
                <span class="tag">Appliances</span> <a href="#." class="tittle">Reloj Inteligente Smart
                    Watch M26 </a>
                <!-- Reviews -->
                <p class="rev"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i> <i class="fa fa-star"></i>
                    <span class="margin-left-10">5 Review(s)</span></p>
                <div class="price">$350.00</div>
                <a href="#." class="cart-btn"><i class="icon-basket-loaded"></i></a>
            </article>
        </div>

        <!-- Product -->
        <div class="product">
            <article> <img class="img-responsive" src="assets/images/item-img-1-2.jpeg" alt="">
                <!-- Content -->
                <span class="tag">Appliances</span> <a href="#." class="tittle">Reloj Inteligente Smart
                    Watch M26 </a>
                <!-- Reviews -->
                <p class="rev"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i> <i class="fa fa-star"></i>
                    <span class="margin-left-10">5 Review(s)</span></p>
                <div class="price">$350.00</div>
                <a href="#." class="cart-btn"><i class="icon-basket-loaded"></i></a>
            </article>
        </div>

        <!-- pagination -->
        <ul class="pagination">
            <li>
                <a href="#" aria-label="Previous"> <i class="fa fa-angle-left"></i> </a>
            </li>
            <li><a class="active" href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li>
                <a href="#" aria-label="Next"> <i class="fa fa-angle-right"></i> </a>
            </li>
        </ul>
    </div>
</div>