<div class="breadcrumb-area">
    <div class="container">
        <ol class="breadcrumb breadcrumb-list">
            <li class="breadcrumb-item">
                <a href="index.html">Home</a>
            </li>
            <li class="breadcrumb-item active">Product Details</li>
        </ol>
    </div>
</div>
<!-- Breadcrumb Area End Here -->
<!-- Product Thumbnail Start -->
<div class="main-product-thumbnail ptb-80">
    <div class="container">
        <div class="row">
            <!-- Main Thumbnail Image Start -->
            <div class="col-lg-5 col-md-6 mb-all-40">
                <!-- Thumbnail Large Image start -->
                <div class="tab-content">
                    <div id="thumb1" class="tab-pane fade show active">
                        <a data-fancybox="images" href="img/products/p2.jpeg">
                            <img src="assets/img/products/p2.jpeg" alt="product-view">
                        </a>
                    </div>
                    <div id="thumb2" class="tab-pane fade">
                        <a data-fancybox="images" href="img/products/p5.jpeg">
                            <img src="assets/img/products/p5.jpeg" alt="product-view">
                        </a>
                    </div>
                    <div id="thumb3" class="tab-pane fade">
                        <a data-fancybox="images" href="img/products/p6.jpeg">
                            <img src="assets/img/products/p6.jpeg" alt="product-view">
                        </a>
                    </div>
                    <div id="thumb4" class="tab-pane fade">
                        <a data-fancybox="images" href="img/products/p7.jpeg">
                            <img src="assets/img/products/p7.jpeg" alt="product-view">
                        </a>
                    </div>
                    <div id="5" class="tab-pane fade">
                        <a data-fancybox="images" href="img/products/p8.jpeg">
                            <img src="assets/img/products/p8.jpeg" alt="product-view">
                        </a>
                    </div>
                </div>
                <!-- Thumbnail Large Image End -->
                <!-- Thumbnail Image End -->
                <div class="product-thumbnail">
                    <div class="thumb-menu owl-carousel nav tabs-area" role="tablist">
                        <a class="active" data-toggle="tab" href="#thumb1">
                            <img src="assets/img/products/p2.jpeg" alt="product-thumbnail">
                        </a>
                        <a data-toggle="tab" href="#thumb2">
                            <img src="assets/img/products/p5.jpeg" alt="product-thumbnail">
                        </a>
                        <a data-toggle="tab" href="#thumb3">
                            <img src="assets/img/products/p6.jpeg" alt="product-thumbnail">
                        </a>
                        <a data-toggle="tab" href="#thumb4">
                            <img src="assets/img/products/p7.jpeg" alt="product-thumbnail">
                        </a>
                        <a data-toggle="tab" href="#thumb5">
                            <img src="assets/img/products/p8.jpeg" alt="product-thumbnail">
                        </a>
                    </div>
                </div>
                <!-- Thumbnail image end -->
            </div>
            <!-- Main Thumbnail Image End -->
            <!-- Thumbnail Description Start -->
            <div class="col-lg-7 col-md-6">
                <div class="thubnail-desc ">
                    <h3 class="product-header">Aspire Dron Model</h3>
                    <ul class="rating-summary">
                        <li class="rating-pro">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                        </li>
                        <li class="read-review">
                            <a href="#">read reviews (1)</a>
                        </li>
                        <li class="write-review">
                            <a href="#">write review</a>
                        </li>
                    </ul>
                    <div class="pro-thumb-price mt-20">
                        <p>
                            <span class="special-price">$84.17</span>
                            <del class="old-price">$80.50</del>
                        </p>
                    </div>
                    <p class="pro-desc-details">Canon's press material for the EOS 5D states that it 'defines (a) new D-SLR category', while we're not typically too concerned with marketing talk this particular statement is clearly pretty accurate...</p>
                    <ul class="pro-list-features">
                        <li>Ex Tax:
                            <span class="ex-text">$68.71</span>
                        </li>
                        <li>Brands
                            <a href="#">Maron</a>
                        </li>
                        <li>Product Code:
                            <span>Drone</span>
                        </li>
                    </ul>
                    <div class="product-size mtb-30 clearfix">
                        <label>Size</label>
                        <select class="">
                                    <option>S</option>
                                    <option>M</option>
                                    <option>L</option>
                                </select>
                    </div>
                    <div class="color clearfix mb-30">
                        <label>color</label>
                        <ul class="color-list">
                            <li>
                                <a class="black" href="#"></a>
                            </li>
                            <li>
                                <a class="white" href="#"></a>
                            </li>
                            <li class="active">
                                <a class="orange" href="#"></a>
                            </li>
                            <li>
                                <a class="paste" href="#"></a>
                            </li>
                        </ul>
                    </div>
                    <div class="quatity-stock">
                        <label>Quantity</label>
                        <ul class="d-flex flex-wrap">
                            <li class="box-quantity">
                                <form action="#">
                                    <input class="quantity" type="number" min="1" value="1">
                                </form>
                            </li>
                            <li>
                                <button class="pro-cart">add to cart</button>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- Thumbnail Description End -->
        </div>
        <!-- Row End -->
    </div>
    <!-- Container End -->
</div>
<!-- Product Thumbnail End -->
<!-- Product Thumbnail Description Start -->
<div class="thumnail-desc  pb-80">
    <div class="container">
        <div class="thumb-desc-inner">
            <div class="row">
                <div class="col-sm-12">
                    <ul class="main-thumb-desc nav tabs-area" role="tablist">
                        <li>
                            <a class="active" data-toggle="tab" href="#dtail">Description</a>
                        </li>
                        <li>
                            <a data-toggle="tab" href="#review">Reviews (1)</a>
                        </li>
                    </ul>
                    <!-- Product Thumbnail Tab Content Start -->
                    <div class="tab-content thumb-content">
                        <div id="dtail" class="tab-pane fade show active">
                            <p>Important difference when compared to the latter is that the EOS 5D doesn't have any environmental seals. While Canon don't specifically refer to the EOS 5D as a 'professional' digital SLR it will have obvious appeal professionals
                                who want a high quality digital SLR in a body lighter than the EOS-1D. It will also no doubt appeal to current EOS 20D owners although lets hope they've not bought too many EF-S lenses...</p>
                        </div>
                        <div id="review" class="tab-pane fade">
                            <!-- Reviews Start -->
                            <div class="review">
                                <div class="group-title">
                                    <h2>customer review</h2>
                                </div>
                                <h4 class="review-mini-title">ponno</h4>
                                <ul class="review-list">
                                    <!-- Single Review List Start -->
                                    <li>
                                        <span>Quality</span>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star-o"></i>
                                        <i class="fa fa-star-o"></i>
                                        <label>ponno</label>
                                    </li>
                                    <!-- Single Review List End -->
                                    <!-- Single Review List Start -->
                                    <li>
                                        <span>price</span>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star-o"></i>
                                        <i class="fa fa-star-o"></i>
                                        <i class="fa fa-star-o"></i>
                                        <label>Review by
                                                    <a href="https://themeforest.net/user/ponno">ponno</a>
                                                </label>
                                    </li>
                                    <!-- Single Review List End -->
                                    <!-- Single Review List Start -->
                                    <li>
                                        <span>value</span>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star-o"></i>
                                        <label>Posted on 12/20/18</label>
                                    </li>
                                    <!-- Single Review List End -->
                                </ul>
                            </div>
                            <!-- Reviews End -->
                            <!-- Reviews Start -->
                            <div class="review mt-10">
                                <h2 class="review-title mb-30">You're reviewing:
                                    <br>
                                    <span>Faded Short Sleeves T-shirt</span>
                                </h2>
                                <p class="review-mini-title">your rating</p>
                                <ul class="review-list">
                                    <!-- Single Review List Start -->
                                    <li>
                                        <span>Quality</span>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star-o"></i>
                                        <i class="fa fa-star-o"></i>
                                    </li>
                                    <!-- Single Review List End -->
                                    <!-- Single Review List Start -->
                                    <li>
                                        <span>price</span>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star-o"></i>
                                        <i class="fa fa-star-o"></i>
                                        <i class="fa fa-star-o"></i>
                                    </li>
                                    <!-- Single Review List End -->
                                    <!-- Single Review List Start -->
                                    <li>
                                        <span>value</span>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star-o"></i>
                                    </li>
                                    <!-- Single Review List End -->
                                </ul>
                                <!-- Reviews Field Start -->
                                <div class="riview-field mt-40">
                                    <form autocomplete="off" action="#">
                                        <div class="form-group">
                                            <label class="req" for="sure-name">Name</label>
                                            <input type="text" class="form-control" id="sure-name" required="required">
                                        </div>
                                        <div class="form-group">
                                            <label class="req" for="subject">Title of review</label>
                                            <input type="text" class="form-control" id="subject" required="required">
                                        </div>
                                        <div class="form-group">
                                            <label class="req" for="comments">Your Review</label>
                                            <textarea class="form-control" rows="5" id="comments" required="required"></textarea>
                                        </div>
                                        <button type="submit" class="customer-btn">Submit</button>
                                    </form>
                                </div>
                                <!-- Reviews Field Start -->
                            </div>
                            <!-- Reviews End -->
                        </div>
                    </div>
                    <!-- Product Thumbnail Tab Content End -->
                </div>
            </div>
            <!-- Row End -->
        </div>
    </div>
    <!-- Container End -->
</div>
<!-- Product Thumbnail Description End -->
<!-- More Product Start Here -->
<div class="more-product pb-80">
    <div class="container">
        <div class="section-title text-center mb-50">
            <h2>Related Products</h2>
        </div>
        <!-- Featured Product Activation Start Here -->
        <div class="feature-pro-active owl-carousel">
            <!-- Single Product Start -->
            <div class="single-ponno-product">
                <!-- Product Image Start -->
                <div class="pro-img">
                    <a href="product-details.html">
                        <img class="primary-img" src="assets/img/products/p2.jpeg" alt="single-product">
                        <img class="secondary-img" src="assets/img/products/p1.jpeg" alt="single-product">
                    </a>
                    <div class="pro-actions-link">
                        <a href="compare.html" title="Compare"><span class="icon icon-MusicMixer"></span></a>
                        <a href="#" data-toggle="modal" data-target="#myModal" title="Quick View"><span class="icon icon-Eye"></span></a>
                    </div>
                    <a class="sticker-new " href="wishlist.html"><span class="ti-heart"></span></a>
                    <span class="sticker-sale">new</span>
                </div>
                <!-- Product Image End -->
                <!-- Product Content Start -->
                <div class="pro-content">
                    <div class="pro-info">
                        <h4><a href="product-details.html">Ponno Real Box</a></h4>
                        <p><span class="special-price">$140.00</span></p>
                        <div class="product-rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <span class="quantity-pro">(200+)</span>
                        </div>
                    </div>
                    <div class="pro-add-cart">
                        <a href="cart.html" title="Add to Cart">Add To Cart</a>
                    </div>
                </div>
                <!-- Product Content End -->
            </div>
            <!-- Single Product End -->
            <!-- Single Product Start -->
            <div class="single-ponno-product">
                <!-- Product Image Start -->
                <div class="pro-img">
                    <a href="product-details.html">
                        <img class="primary-img" src="assets/img/products/p3.jpeg" alt="single-product">
                        <img class="secondary-img" src="assets/img/products/p4.jpeg" alt="single-product">
                    </a>
                    <div class="pro-actions-link">
                        <a href="compare.html" title="Compare"><span class="icon icon-MusicMixer"></span></a>
                        <a href="#" data-toggle="modal" data-target="#myModal" title="Quick View"><span class="icon icon-Eye"></span></a>
                    </div>
                    <a class="sticker-new " href="wishlist.html"><span class="ti-heart"></span></a>
                    <span class="sticker-sale">new</span>
                </div>
                <!-- Product Image End -->
                <!-- Product Content Start -->
                <div class="pro-content">
                    <div class="pro-info">
                        <h4><a href="product-details.html">xer jenon dslr</a></h4>
                        <p><span class="special-price">$140.00</span></p>
                        <div class="product-rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                            <span class="quantity-pro">(200+)</span>
                        </div>
                    </div>
                    <div class="pro-add-cart">
                        <a href="cart.html" title="Add to Cart">Add To Cart</a>
                    </div>
                </div>
                <!-- Product Content End -->
            </div>
            <!-- Single Product End -->
            <!-- Single Product Start -->
            <div class="single-ponno-product">
                <!-- Product Image Start -->
                <div class="pro-img">
                    <a href="product-details.html">
                        <img class="primary-img" src="assets/img/products/p4.jpeg" alt="single-product">
                        <img class="secondary-img" src="assets/img/products/p5.jpeg" alt="single-product">
                    </a>
                    <div class="pro-actions-link">
                        <a href="compare.html" title="Compare"><span class="icon icon-MusicMixer"></span></a>
                        <a href="#" data-toggle="modal" data-target="#myModal" title="Quick View"><span class="icon icon-Eye"></span></a>
                    </div>
                    <a class="sticker-new " href="wishlist.html"><span class="ti-heart"></span></a>
                    <span class="sticker-sale">new</span>
                </div>
                <!-- Product Image End -->
                <!-- Product Content Start -->
                <div class="pro-content">
                    <div class="pro-info">
                        <h4><a href="product-details.html">jibon mouse pad</a></h4>
                        <p><span class="special-price">$140.00</span></p>
                        <div class="product-rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                            <span class="quantity-pro">(200+)</span>
                        </div>
                    </div>
                    <div class="pro-add-cart">
                        <a href="cart.html" title="Add to Cart">Add To Cart</a>
                    </div>
                </div>
                <!-- Product Content End -->
            </div>
            <!-- Single Product End -->
            <!-- Single Product Start -->
            <div class="single-ponno-product">
                <!-- Product Image Start -->
                <div class="pro-img">
                    <a href="product-details.html">
                        <img class="primary-img" src="assets/img/products/p3.jpeg" alt="single-product">
                        <img class="secondary-img" src="assets/img/products/p1.jpeg" alt="single-product">
                    </a>
                    <div class="pro-actions-link">
                        <a href="compare.html" title="Compare"><span class="icon icon-MusicMixer"></span></a>
                        <a href="#" data-toggle="modal" data-target="#myModal" title="Quick View"><span class="icon icon-Eye"></span></a>
                    </div>
                    <a class="sticker-new " href="wishlist.html"><span class="ti-heart"></span></a>
                    <span class="sticker-sale">new</span>
                </div>
                <!-- Product Image End -->
                <!-- Product Content Start -->
                <div class="pro-content">
                    <div class="pro-info">
                        <h4><a href="product-details.html">olian selfie cam</a></h4>
                        <p><span class="special-price">$140.00</span></p>
                        <div class="product-rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <span class="quantity-pro">(200+)</span>
                        </div>
                    </div>
                    <div class="pro-add-cart">
                        <a href="cart.html" title="Add to Cart">Add To Cart</a>
                    </div>
                </div>
                <!-- Product Content End -->
            </div>
            <!-- Single Product End -->
            <!-- Single Product Start -->
            <div class="single-ponno-product">
                <!-- Product Image Start -->
                <div class="pro-img">
                    <a href="product-details.html">
                        <img class="primary-img" src="assets/img/products/p2.jpeg" alt="single-product">
                        <img class="secondary-img" src="assets/img/products/p3.jpeg" alt="single-product">
                    </a>
                    <div class="pro-actions-link">
                        <a href="compare.html" title="Compare"><span class="icon icon-MusicMixer"></span></a>
                        <a href="#" data-toggle="modal" data-target="#myModal" title="Quick View"><span class="icon icon-Eye"></span></a>
                    </div>
                    <a class="sticker-new " href="wishlist.html"><span class="ti-heart"></span></a>
                    <span class="sticker-sale">new</span>
                </div>
                <!-- Product Image End -->
                <!-- Product Content Start -->
                <div class="pro-content">
                    <div class="pro-info">
                        <h4><a href="product-details.html">Ponno motion remote</a></h4>
                        <p><span class="special-price">$140.00</span></p>
                        <div class="product-rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                            <span class="quantity-pro">(200+)</span>
                        </div>
                    </div>
                    <div class="pro-add-cart">
                        <a href="cart.html" title="Add to Cart">Add To Cart</a>
                    </div>
                </div>
                <!-- Product Content End -->
            </div>
            <!-- Single Product End -->
        </div>
        <!-- Featured Product Activation Start Here -->
    </div>
</div>
<!-- More Product End Here -->